.text-red{
 color: rgb(255,192,203);
}
.text-blue{
 color: skyblue;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
.google-fonts {
   /* ここにGoogle Fontsを指定します */
   font-family: "Josefin Sans", sans-serif; 
   font-optical-sizing: auto; 
   font-style: normal;
   letter-spacing: 1.2em;
   border-bottom: solid 3px rgb(115,115,114);
   font-size: 2rem;
}
h1::first-letter {
   color: skyblue;
} 
html {
   font-size: 20px;
   text-align: center;
}
.text-pink {
   color: rgb(255,192,203);
}
.text-black {
   color: black;
}
.grandchild {
  font-weight: bold;
}
.google-fonts{
   text-shadow: 1px 1px 2px gray;
}
.grandchild .text-red {
   color: rgb(255,192,203);
 }